.brands-logo .owl-carousel .owl-item img {
    display: block;
    width: 29%;
    margin: 0 auto;
    padding: 10px 0;

}

.brands-logo .owl-carousel-brand .owl-nav,
.brands-logo .owl-carousel-brand .owl-dot {
    display: none;
}

.brands-logo .item .card {
    transition: all 0.3s;
    background: #ffffff;
    background: -webkit-linear-gradient(341deg, #ffffff 0%, rgba(171, 161, 171, 0.75) 100%);
    background: linear-gradient(341deg, #ffffff 0%, rgba(171, 161, 171, 0.75) 100%);

}

.brands-logo .item .card:hover {
    transform: scaleY(1.05);
    -webkit-box-shadow: 6.5px 5.5px 13.5px 3px #ffffff;
    -moz-box-shadow: 6.5px 5.5px 13.5px 3px #ffffff;
    box-shadow: 6.5px 5.5px 13.5px 3px #ffffff;
}

.brands-logo h5 {
    color: #cbd5e1;
    font-size: 2rem;
}
.brands-logo p
{
    color: #475569;
}