.products-carousel .products-btn {
    border: 1px solid rgb(75, 74, 74);

}

.products-carousel .price {
    vertical-align: 2px;
}
.products-carousel .item {
    background-color: #1e1b4b;
}
.owl-nav,
.owl-dots {
    display: block;
}

.owl-carousel .owl-item img {
    display: block;
    width: 59%;
    margin: 0 auto;

}

.owl-carousel {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 50;
    top: 35%;
    width: 100%;
    display: flex;
}


